.pageHeading {
  padding-bottom: 125px;
  background-color: #f1f1f1;
  padding-top: 30px;
}

.top-header {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.logo-group {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;
  align-items: center;
}

.logo-group2 {
  display: flex;
  width: 185px;
  height: 34px;
  align-items: center;
}

.logo-group2 img {
  width: 31px;
  height: 15px;
}

.logo-group2 h1 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 27px;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: monospace;
}

.logo-group1>img {
  height: 15px;
  width: 15px;
  position: absolute;
  margin-left: 15px;
  cursor: pointer;
  z-index: 100;
  margin-top: 13.5px;
}

.logo-group1 {
  margin-right: 60px;
  /* align-items: center; */
  display: flex;
  height: 42px;
}

.logo-group1>input {
  padding-left: 50px;
  display: none;
}

.logo-group1.active>input {
  display: block;
  position: absolute;
  z-index: 50;
}

.logo-group3 {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 40px;
}

.navBar {
  padding-top: 30px;
}

.navBarGroup {
  width: 450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.promoHeader {
  display: flex;
  margin: 125px auto 0 auto;
  width: fit-content;
  width: 1200px;
}

.promoText h1 {
  color: #ffd130;
  font-size: 74px;
  -webkit-text-stroke: 0.75px black;
  white-space: nowrap;
  font-family: monospace;
  text-transform: uppercase;
  margin-top: 81px;
}

.promoText p {
  font-family: monospace;
  font-size: 30px;
  padding-top: 30px;
}

.promoText {
  margin-right: 114px;
}

.products {
  width: 1320px;
  margin: 95px auto 313px auto;
}

.productTitle h1 {
  font-family: monospace;
  font-size: 45px;
}

.productTitle {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 45px;
}

.categoryNavMenu {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.productManipulations {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.productDisplayGroup {
  background-color: #d9d9d9;
  width: 312px;
  height: 400px;
}

.productDisplay {
  padding: 47px 31px 47px 31px;
}

.lager {
  background-color: #1e2832;
  color: white;
  padding: 16px 10px;
  font-size: 16px;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  justify-content: space-between;
  cursor: default;
  display: none;
}

.productCard:hover .lager {
  display: flex;
}

.lagerAction {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.productName h3 {
  font-family: monospace;
  font-size: 16px;
  color: #000000;
  text-transform: capitalize;
  margin-left: 10px;
  margin-top: 18px;
}

.product-type-price-group p {
  font-family: monospace;
  font-size: 16px;
  margin-left: 10px;
  justify-content: space-between;
}

.product-type-price-group {
  display: flex;
  justify-content: space-between;
}

.productCard {
  font-family: monospace;
  width: fit-content;
}

.product-type-price-group > .product-type {
  color: #777777;
}

.lagerInfo {
  align-items: center;
  display: flex;
}

.productName {
  margin-bottom: 15px;
}

.footer {
  background-color: #ffd130;
  padding: 21px 300px;
}

.footer .logo-group2 {
  margin-top: 21px;
  margin-bottom: 29px;
}

.footer p {
  font-size: 15px;
  font-family: monospace;
  width: 367px;
  margin-bottom: 38px;
}

.footerImgGroup {
  display: flex;
  gap: 36px;
  align-items: center;
}

.footerImgGroup img:nth-child(2) {
  height: 12.57px;
}

.footerImgGroup img:nth-child(1) {
  height: 15px;
}

.footerImgGroup img:nth-child(3) {
  height: 15px;
}

.copyright {
  background-color: #1e2832;
  color: white;
  font-size: 14px;
  padding: 13.5px 300px;
  display: flex;
  gap: 388px;
  align-items: center;
}

.productsGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.productFilterOption label {
  font-size: 16px;
  font-weight: 600;
}

.productFilterOption {
  display: none;
  align-items: center;
  font-family: monospace;
  justify-content: space-between;
  margin-bottom: 35px;
}

.productFilterOption.active {
  display: flex;
}

.filterValues {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.filterValues div:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
}

.backdrop {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #77777757;
}
.backdrop.active{
  display: flex;
}

.modal {
  display: none;
  z-index: 200;
  width: 388px;
  background-color: rgb(231, 231, 231);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  padding: 27px 19px;
  border-radius: 20px;
  background-color: #ffd130;
  font-family: monospace;
}

.modal button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal h1 {
  font-size: 16px;
  font-weight: 600;
}

.addProductTitle {
  border-bottom: 2px solid #7c7c7c;
  padding-bottom: 24px;
  margin-bottom: 20px;
}


.modal input {
  font-family: monospace;
  margin-bottom: 20px;
}

.addProductImageGroup {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  gap: 13px;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 6px;
  width: fit-content;
}

.addProductImageGroup:hover {
  cursor: pointer;
}

.addProductImageGroup:hover p {
  font-weight: 600;
}

.addProductImageGroup:hover .addProductImage {
  background-color: #f0f0f0;
}

.addProductImage {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.addProductImage img {
  width: 39px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
}

.modalCart{
  background-color: #fff;
  z-index: 200;
  font-family: monospace;
  border-radius: 15px;
  padding: 50px 30px;
  display: flex;
  gap: 150px;
}

.modalHeading{
  display: flex;
  align-items: center;
  padding-bottom: 22px;
  border-bottom: 1.5px solid #D0CFCF;
  margin-bottom: 25px;
}
.modalHeading p{
  font-size: 18px;
  font-weight: 600;
  
}
.modalHeading div:first-child {

   font-size: 25px;
   transform: rotate(90deg);
}
.modalDesc p:first-child{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}
.modalDesc p:last-child{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
}
.modalCart .ws-product-row{
  margin-bottom: 40px;

}
.modalCart .ws-product-row:last-child{
  margin-bottom: 0;
}
.payCard{
  background-color: #FFD130;
  width: 388px;
  border-radius: 20px;
  padding: 27px 19px 21px 19px;
  font-family: monospace;
}
.payCard>p:first-child{
  font-weight: 600;
  font-size:20px;
  margin-bottom: 24px;

}
.payCard>p:nth-child(2){
  font-weight: 500;
  font-size:16px;
  margin-bottom: 14px;

}
.payCard>.cardTypes{
  display: flex;
  gap:17px;
  margin-bottom: 27px;
}
.payCard .input-label{
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.expdateCvv {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #7C7C7C;
}

.expdateCvv {
  margin-bottom: 15px;
}

.expdateCvv div {
  width: fit-content;
  margin-bottom: 12px;
}

.payCard input {
  width: 100%;
  margin-bottom: 10px;
}

.modalCart .priceSum {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 26px;
}

.payCard .priceSum div:last-child {
  text-align: right;
}

.modalCart .ws-button.checkout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px 18px 24px;
}

.payOnDeliveryCard {
  background-color: #FFD130;
  width: 388px;
  height: 282px;
  border-radius: 20px;
  padding: 27px 19px 22px 19px;
}

.payOnDeliveryCard .title {
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #7C7C7C;
  padding-bottom: 24px;
  margin-bottom: 15px;
}

.paymentMethods {
  display: flex;
  gap: 150px;
  align-items: flex-end;
}

.radioButton {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 20px;
}

.search-popup {
  width: 390px;
  background-color: white;
  position: absolute;
  margin-top: 51px;
  border-radius: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  display: none;
}

.search-popup.active{
  display: block;
}

.search-popup>.search-popup-results {
  overflow-y: auto;
  max-height: 175px;
}

.search-popup>.search-popup-results>.ws-product-row {
  margin: 15px auto 0 auto;
  border-radius: 15px;
  width: 370px;
  padding: 10px;
  height: 70px;
  box-shadow: none;
}

.search-popup>.search-popup-results>.ws-product-row:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.search-popup>p {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px;
}