.ws-input {
  width: 264px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 12.5px 17px;
  /**font settings*/
  font-family: montserrat;
  font-size: 14px;
}

.ws-input::placeholder {
  text-transform: uppercase;
}

.ws-input:focus {
  outline: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
